body {
    background-color: grey;
}

button {
    margin: 15px;
    
    padding: 10px;
}

section.container {
    display: flex;
}
section.sidebar {
    background-color: black;
    width: 25%;
    height: 850px;
}

section.main {
    background-image: linear-gradient(180deg, rgb(91, 26, 188), black);
    display: flex;
    width: 90%;
    height: 850px;
    float: center;
}

img.LikedSongs {
    height: 200px;
    width: 15%;
}

img.playButton {
    width: 100%;
    height: 200px;
}
